@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: #d26868;
    overflow: hidden;
    padding-left: 35rem;
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.heading span{
    color: yellow;
}

.title{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.title span{
    color: #d42626;
}

.head{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.head span{
    color: #d42626;
}
.pro{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.pro span{
    color: #d42626;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
	background-color: #a9a9a9;
    text-align: center;
}

header .user img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    */ border: .5rem solid;
}

header .user .nm{
    font-size:2rem;
    color: #d42626;
}

header .user .jb{
    font-size:1rem;
    color: #d42626;
}

header .nv{
    width: 100%;
}
header .nv ul{
    list-style: none;
    padding: 1rem ;
}

header .nv ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background-color: #d85f5f;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;  
}
header .nv ul li a:hover{
    background-color:yellowgreen;
}

.Details .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Details .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Details .Row .det h3{
    font-size: 2rem;
    color: yellow;
    padding: 1rem 0;
    font-weight: normal;
}

.Details .Row .det h3 span{
    color: #eee;
    padding: 0. 5rem;
}
table,th,td{
    border: 1px solid grey;
    border-collapse: collapse;
}
td{
    color: #d42626;
    padding: 1rem;
}
th{
    color: #d42626;
    padding: 1rem;
}
table{
    text-align: center;
    margin: 0 6rem;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #d42626;
}
#lis li{
    margin: 0 9rem;
    color: #d42626;
    font-size: medium;
    padding: .5rem 1rem;
}
.Project .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Project .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Project .Row .det h3{
    font-size: 2rem;
    color: #000000;
    padding: 1rem 0;
    font-weight: normal;
}

.Project .Row .det h3 span{
    color: #eee;
    padding: 0. 5rem;
}
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}
.bs-callout:last-child {
    margin-bottom: 0px;
}
.bs-callout h4 {
    margin-bottom: 10px;
    margin-top: 0;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4{
    color: #d9534f;
}

.resume .list-group-item:first-child, .resume .list-group-item:last-child{
  border-radius:0;
}




@media (max-width: 992px) {
  .resume-heading .social-btn-holder{
    padding:5px;
  }
}


/* skill meter in resume. copy pasted from http://bootsnipp.com/snippets/featured/progress-bar-meter */

.progress-bar {
    text-align: left;
	white-space: nowrap;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.progress-bar > .progress-type {
	padding-left: 10px;
}

.progress-meter {
	min-height: 15px;
	border-bottom: 2px solid rgb(160, 160, 160);
  margin-bottom: 15px;
}

.progress-meter > .meter {
	position: relative;
	float: left;
	min-height: 15px;
	border-width: 0px;
	border-style: solid;
	border-color: rgb(160, 160, 160);
}

.progress-meter > .meter-left {
	border-left-width: 2px;
}

.progress-meter > .meter-right {
	float: right;
	border-right-width: 2px;
}

.progress-meter > .meter-right:last-child {
	border-left-width: 2px;
}

.progress-meter > .meter > .meter-text {
	position: absolute;
	display: inline-block;
	bottom: -20px;
	width: 100%;
	font-weight: 700;
	font-size: 0.85em;
	color: rgb(160, 160, 160);
	text-align: left;
}

.progress-meter > .meter.meter-right > .meter-text {
	text-align: right;
}

.blockquote-box.blockquote-primary .square {
    background-color: #428bca;
    color: #FFF;
}
.blockquote-box .square {
    width: 120px;
    min-height: 50px;
    margin-right: 22px;
    text-align: center !important;
    background-color: #E6E6E6;
    padding: 20px 0;
    font-size: 15px;
}
.blockquote-box {
    border-left: 5px solid;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 25px;
}
.blockquote-box.blockquote-primary {
    border-color: #428bca;
}
.blockquote-box.blockquote-warning .square {
    background-color: #f0ad4e;
    color: #FFF;
}
.blockquote-box .square {
    width: 120px;
    min-height: 50px;
    margin-right: 22px;
    text-align: center !important;
    background-color: #E6E6E6;
    padding: 20px 0;
    font-size: 15px;
}
.blockquote-box.blockquote-warning {
    border-color: #f0ad4e;
}
.blockquote-box.blockquote-success .square {
    background-color: #449d44;
    color: #FFF;
}
.blockquote-box .square {
    width: 120px;
    min-height: 50px;
    margin-right: 22px;
    text-align: center !important;
    background-color: #E6E6E6;
    padding: 20px 0;
    font-size: 15px;
}
.blockquote-box.blockquote-success {
    border-color: #449d44;
}
.blockquote-box.blockquote-danger {
    border-color: #d9534f;
}
.blockquote-box {
    border-left: 5px solid;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 25px;
}
.blockquote-box.blockquote-danger .square {
    background-color: #d9534f;
    color: #FFF;
}

.progress .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: white;
    background-color: rgba(25, 25, 25, 0.2);
}
.progress {
    position: relative;
    height: 25px !important;
}

.box-p{
    padding:5px;
}


